@model IEnumerable<LetsConnect.Models.WorkshopModel>

@{
    ViewData["Title"] = "Home Page";
}

<div>

    @foreach (var Item in Model)
    {
        <form method="post" action="ChosenWorkshop">
            <h1 id="workshopName">@Item.WorkshopName</h1>
            <h6>@Item.WorkshopDescription</h6>
            <h6>Max personen: @Item.WorkshopMax</h6>
            <h6>Aangemelde personen: @Item.WorkshopSignUps</h6>

            <input type="hidden" name="StudentNumber" value="@ViewBag.StudentNumber" />
            <input type="hidden" name="WorkshopId" value="@Item.WorkshopId"/>
            <input type="hidden" name="WorkshopType" value="@Item.WorkshopStartTime" />
            <input type="submit" value="Aanmelden"/>
       </form>
    }
</div>

<!--
<div>
    <form>
        <div>
            <label for="workshopOptie1">Keuze 1:</label>
            <select name="workshopOptie1">
                @foreach(var Item in Model)
                {
                    <option>
                        @Item.WorkshopName
                    </option>
                }
            </select>
        </div>
        <div>
            <label name="workshopOptie2">Keuze 2:</label>
            <select name="workshopOptie2">
                @foreach (var Item in Model)
                {
                    <option>
                        @Item.WorkshopName
                    </option>
                }
            </select>
        </div>
        <div>
            <label for="workshopOptie3">Keuze 3:</label>
            <select name="workshopOptie3">
                @foreach (var Item in Model)
                {
                    <option>
                        @Item.WorkshopName
                        
                    </option>
                }
            </select>
        </div>
    </form>
</div>
-->
