@model IEnumerable<LetsConnect.Models.WorkshopModel>

@section indexStyling {
    <link rel="stylesheet" href="~/css/home/styling.css"/>
}

@{
    ViewData["Title"] = "Workshops Overzicht";
}


        
<div class="mainContainer">
    <div class="col-md-8">
        <h1 class="workshop-header">Workshops (diverse lokalen)</h1>
        <p>Elke ronde kun je één van de volgende workshops volgen. Alle onderstaande workshops zijn alle drie de workshoprondes beschikbaar.</p>

        @foreach (var Item in Model)
        {
            <div class="workshop-card mb-3">
                <h5>@Item.WorkshopName</h5>
                <div id="ItemInfo-@Item.WorkshopId" style="display:none">
                    <!-- ItemInfo-1 -->
                    <p><em>@Item.WorkshopDescription</em></p>
                    <p>Plaats: @Item.WorkshopPlace</p>
                    <p><strong>Max personen:</strong> @Item.WorkshopMax</p>
                    <p><strong>Aangemelde personen:</strong> @Item.WorkshopSignUps</p>
                </div>
                <div>
                    @{
                        var errorMessageKey = $"ErrorMessage_{Item.WorkshopId}"; 
                    }
                    @if (TempData[errorMessageKey] != null)
                    {
                        <div class="alert alert-danger">
                            <p>@TempData[errorMessageKey]</p>
                        </div>
                    }
                    <form method="post" asp-action="SendMail">
                        <input name="FirstName" placeholder="Voornaam" required />
                        <input name="Insert" placeholder="Tussenvoegsel" />
                        <input name="LastName" placeholder="Achternaam" required />
                        <input name="Email" placeholder="Email" required />
                        <input name="StudentClass" placeholder="Klas" required />
                        <input type="hidden" name="WorkshopId" value="@Item.WorkshopId" />
                        <input type="submit" value="Aanmelden" />
                    </form>
                </div>
                <button onclick="toggleInfo('ItemInfo-@Item.WorkshopId', 'icon-@Item.WorkshopId')" class="arrowButton">
                    <ion-icon id="icon-@Item.WorkshopId" name="arrow-down-outline"></ion-icon>
                </button>
            </div>           
        }
    </div>
</div>
    
