@model LetsConnect.Models.WorkshopTimes

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WorkshopTimes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkshopId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkshopId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkshopRonde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkshopRonde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkshopPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkshopPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkshopDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkshopDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkshopStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkshopStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkshopEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkshopEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkshopTeacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkshopTeacher)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WorkshopTimeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
